body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

form {
  width: 38rem;
  max-height: 85%;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  background-color: #d4d4d48f;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid 0.7rem rgba(84, 79, 69, 0.756);
}

form:hover {
  transform: translateY(-0.12rem);
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.12);
}

label {
  font-weight: 350;
  color: #000000;
  font-size: 1.1rem;
}

input {
  padding: 0.7rem 1rem;
  border: 0.13rem solid #000000;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-family: inherit;
  outline: none;
}

button[type="submit"] {
  padding: 0.75rem 1rem;
  background-color: #b5fdfc90;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #12739389;
  transform: translateY(-0.12rem);
}

.current-image {
  justify-content: center;
  margin: 1rem 0;
}

.preview {
  max-width: 25%;
  height: auto;
  border-radius: 0.6rem;
}

.error-message {
  color: crimson;
  font-weight: 500;
}