* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    background:
        radial-gradient(circle at 30% 80%, #bbb8ae 20%, transparent 70%),
        radial-gradient(circle at 70% 90%, #c8c8c8 25%, transparent 75%),
        radial-gradient(circle at 50% 60%, #c2beb3 30%, transparent 70%),
        linear-gradient(to bottom, #dcd8d3 0%, #f0eee9 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    position: absolute;
    height: 70px;
    width: 100%;
    top: 0;
    padding: 2rem 2rem;
    background-color: rgba(185, 176, 162, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.navbar .nav-links a {
    color: rgb(85, 83, 83);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.navbar .nav-links a:hover {
    color: #127393;
}

.top-right {
    position: absolute;
    top: 0;
    height: 70px;
    display: flex;
    align-items: center;
    right: 2rem;
    font-size: 25px;
    color: #333;
}

.bottom-left {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 25px;
    color: #333;
}

.center-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 25px;
}

.center-line {
    font-style: italic;
}

.browse-btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #807676;
    color: #fff;
    text-decoration: none;
}

.browse-btn:hover {
    background-color: #1111116b;
    transform: scale(1.05);
}

.navbar .nav-links li.return-user a {
    color: #333;
    font-weight: 600;
    font-style: italic;
    pointer-events: none;
    cursor: default;
    padding-left: 15rem;
}